@font-face{
   font-family: TTChocolates;
   src: url(../fonts/ttchocolates-regular-webfont.ttf),
   url(../fonts/ttchocolates-regular-webfont.eot); /* IE */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a, /*Kan strula med span a från bootstrap*/
span,
ul,
li{
	font-family: TTChocolates;
}

p{
	font-size: 1.2em;
}

a:hover{
	text-decoration: none;
}



.index-header{
	position: relative;
	float: left;
	width: 100%;
	background: url(../img/index-header.jpg) center center no-repeat;
	height: 550px;
	margin-top: -20px;
	 -webkit-background-size: cover;
		-moz-background-size: cover;
		  -o-background-size: cover;
			 background-size: cover;
}

.index-header:after{
	background: url(../img/header-bottom-border.png) center center no-repeat;
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 87px;
	-webkit-background-size: cover;
		-moz-background-size: cover;
		  -o-background-size: cover;
			 background-size: cover;
}

.modal-content{
	color:#333;
}


.city-container{
	margin: 80px auto;
	width: 100%;
}

.city-link{
	height: 50px;
	width: 30%;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	float: left;
	font-size: 1.4em;
	font-family: TTChocolates;
	background: #421763;
	color:white;
	margin: 0 1.5%;
}
.city-link:hover{
	color:white;
}
.headings{
	margin-top: 80px;
}

.index-header h1{
	color: white;
	margin: 250px auto 0 auto;
	width: 456px;
	height: 84px;
	display: block;
	text-indent: -99999px;
	background: url(../img/wgo-main-header.png);

}

.main-menu{
	height: 70px;
	display: flex;
	//padding-top: 10px;
	line-height: 70px;
}

.left-menu,
.right-menu,
.wgo-heading,
.home-link{
	color:#421763;
	display: inline-block;
	line-height: 60px;
}
.wgo-heading,
.home-link{
	margin: 0 auto 0 auto;
	height: 55px;
}
.home-link{
	margin-top: 10px;
	width: 270px;
	background: url(../img/wgo-heading-text.png) center center no-repeat;
	text-indent: -99999px;
	line-height: 70px;
	background-size: 100%;
}
@media screen and (max-width: 400px){
	.home-link{
		width: 90px;
		background: url(../img/wgo-heading-text-mini.png);
	}
}
.right-menu{
	color:#421763;
	margin-right: 20px;
	line-height: 60px;
}

.menu-button{
	color:#421763;
	font-size: 2em;
}
.back-button{
	font-size: 2.5em;
	margin: 0;
	height: 70px;
	width: 70px;
	color: white;
	cursor: pointer;
}

.back-button span{
	margin-left: 13px;
	color: #421763;
}

.events-main-header{
	position: relative;
	height: 600px;
	width: 100%;
	margin-top: -20px;
	text-align: center;
 	margin-bottom: 30px;
 	background-image: url(../img/main-city-image.jpg);	
  		 -webkit-background-size: cover;
  			-moz-background-size: cover;
  			  -o-background-size: cover;
  				 background-size: cover;

}

.events-main-header:after{
	background: url(../img/header-bottom-border.png) center center no-repeat;
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 87px;
	-webkit-background-size: cover;
		-moz-background-size: cover;
		  -o-background-size: cover;
			 background-size: cover;
}

.events-main-heading,
.tag-heading{
  	line-height: 40vh;
  	color:white;
  	font-size: 5em;
  	font-weight: bold;
  	text-shadow:1px 1px 1px #000;
}

.events-main-heading:first-letter,
.tag-heading:first-letter{ 
    text-transform: uppercase;
}
.events-search{
	width: 500px;
	height: 20px;
	font-size: 1.2em;
	padding: 20px;
	color:#000;
}

.sortering{
	display: block;
	margin:0 auto;
	line-height: 30px;
	font-family: TTChocolates;
	width: 300px;
}
.sortering span{
	font-size: 1.4em; 
	margin-right:10px; 
}
.filter-select{
	width: 200px;
	height: 30px;
	font-size: 1.3em;
  	margin-bottom: 30px;	
}

.events{
  	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: start;
    justify-content: space-around;
   	width: 1120px;
   	margin: 0 auto;
}


.events-card{
	background: white;
  	width: 350px;
  	min-width: 350px;
  	height: 475px;
	border: thin #9e9e9e solid;
	padding: 10px;
	margin-bottom: 40px;
	display: inline-block;
	position: relative;
	font-family: TTChocolates;
}

.tag-ul{
	overflow: hidden;
	width: 100%;
	padding-left: 10px;

}

.tag-li{
	font-size: 1.1em;
	display: inline;
	float: left;
	margin-right: 10px;
}

.events-header{
	position: relative;
	text-overflow: ellipsis; 
    width: 255px;
    height: 30px;
    display: block;
    white-space: nowrap;
  	overflow: hidden;
  	margin-top: 10px;
}
.events-header:after{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	width: 30px;
	height: 3px;
	background: #421763;
}

.events-header:first-letter{ 
    text-transform: uppercase;
}
.event-body{
	height: 140px;
	white-space: normal;
}

.events-card-info{
	display: block;
	margin: 0 auto;
	color:#07292B;
	text-align: center;
}
.glyphicon{
	color: #421763;
}


.events-card-button{
	display: block;
	width: 90%;
	height: 50px;
	border:none;
	margin: 13px auto 0 auto;
	border-radius: 3px;
	background: #421763;
	color:white;
    outline: 0;
    transition:all .25s ease-in-out;
    font-size: 1.5em;
}

.events-card-button:hover{
	background: #220C33;
	text-decoration: none;
}

.extra-dates{
	margin-left: 10px;
	padding: 6px;
	color:white;
	background: #421763;
	position: relative;
}
.extra-dates:after{
	position: absolute;
	content: '';
	left: -10px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #421763; 
}

.pag-button-container{
	width: 90%;
	height: 90px;
	margin: 30px auto 0 auto;
	position: relative;
}

.page-button{
	position: absolute;
	top:0;
	width: 80px;
	height: 50px;
	border:none;
	position: absolute;
	background: #f1665d;
	border: 1px solid #220C33;
	color:black;
    outline: 0;
    transition:all .25s ease-in-out;
    cursor: pointer;
}

.page-button:hover{
	background: #220C33;
}
.page-button.prev{
	left:0;
}
.page-button.next{
	right:0;
}

.pag-numb{
	line-height: 70px;
	text-align: center;
}

@media screen and (max-width: 700px){
	.events{
		display: block;
	}
	.events-card{
		display: block;
		margin: 40px auto 0 auto;
	}
}

.events-body{
	min-height: 60px;
	margin-right: 70px;
	padding: 0 10px;
	font-size: 1.2em;
}

.events-card img{
	width: 100%;
	margin-bottom: 15px;
}

.show-event-text{
	color:white;
	line-height: 40px;
}

/*.footer-top{
	width: 100%;
	height: 72px;
	margin-top: 50px;
	background: url(../img/footerImage.png);
}
 */
/*-------------EventsPage-------------*/
.event-header,
.tag-header{
	width: 100%;
	height: 400px;
	text-align: center;
	border-top: 1px solid black;
 	margin-bottom: 30px;	
	background: no-repeat center center fixed; 
  		 /*-webkit-background-size: cover;
  			-moz-background-size: cover;
  			  -o-background-size: cover;
  				 background-size: cover;*/
}
/*
.tag-heading{
	line-height: 30vh;
	color:white;
	text-shadow:2px 2px 2px black;
	font-size: 2.8em;
	font-family: TTChocolates
}
.tag-heading span{
	text-decoration: underline;
}
*/
.event-header{
	height: 400px;
	position: relative;
	background-attachment: scroll;
	margin-bottom: 0px;
}

.event-heading-container{
	margin-bottom: 40px;
	height: 300px;
}

.event-heading{
	font-size: 3em;
	line-height: 0px;
    text-transform: uppercase;
    display: block;
    line-height: 1.01em;
}

.event-main{
	margin-top: 70px;
	padding: 10px 40px 0 40px;
}

.if-optional-price-exists{
	cursor: pointer;
	background: #220C33;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 0;
}

.optional-price{
	list-style: none;
	padding-left: 20px;
	border-bottom: 1px solid #220C33;
	max-height: 0;
	overflow: hidden;
    transition: max-height .5s ease-out;

}
.optional-price p.event-list-explenation{
	margin-left: 20px;
}

.display-optional-price{
	max-height: 500px;
    transition: max-height .5s ease-out;
}

@media screen and (max-width: 750px){
	.event-header{
		height: 400px;
		margin-bottom: 30px;
	}
}

.event-header:after{
	background: url(../img/header-bottom-border.png) center center no-repeat;
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 87px;
	-webkit-background-size: cover;
		-moz-background-size: cover;
		  -o-background-size: cover;
			 background-size: cover;
}

.tag-header{
	background: url(../img/tagImg.jpg);
}

.flex{
	display: -webkit-flex;
	display: -moz-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	-moz-flex-direction: row; /* works with row or column */
   	flex-direction: row;
   	-webkit-align-items: center;
   	-moz-align-items: center;
   	align-items: center;
   	-webkit-justify-content: center;
   	-moz-justify-content: center;
   	justify-content: center;
}

button.facebook-share,
button.twitter-share
{	    
	outline: 0;
	margin-top: 40px;
	width: 136px;
	height: 115px;
	border:none;
	background: url(../img/social-share.png) no-repeat;	
	background-size:272px 115px;
}

button.twitter-share{
	margin-left: 40px;
	background-position: -136px 0;
}

@media screen and(max-width: 428px){
	button.twitter-share,
	button.share{
		margin: 40px 0px 0px 0px;
	}
}

@media screen and (max-width: 980px) {
	.tag-header{
	background: url(../img/tagImgMedium.jpg);
	}
	.events-main-header{
    	background-image: url(../img/main-city-image-medium.jpg);
    	height: 400px;
    }

    .events-main-heading{
    	line-height: 30vh;
    }

    .pag-button-container{
		width: 70%;
	}
}

.events-info-container{
	border: thin #9e9e9e solid;
}

.events-info{
	list-style: none;
	font-family: TTChocolates;
}

.events-tags{
	list-style: none;
}

.events-tag{
	text-decoration: none;
}

/*-------------Slut på Events page-------------*/

/*-------------Event page--------------------*/

.event-row{
	margin-top: 30px;
}

.event-info-container{
	margin-top: 100px;
	background: #421763;
	position: relative;
}

.event-info-container p,
.event-info-container a,
.event-info-container span{
	color:white;
}
.event-info-container a{
	text-decoration: underline;
}

.event-info-container:before,
.event-info-container:after{
	content:'';
	position: absolute;
	width: 100%;
	height: 40px;
}

.event-info-container:before{
	//transform:skew(3deg);
	top: -29px;
	left: 0px;
	background: url(../img/event-container-top.png) no-repeat;
	background-size: 100% 29px;

}

.event-info-container:after{
	//transform:skew(3deg);
	left: 0px;
	background: url(../img/event-container-bottom.png) no-repeat;
	background-size: 100% 29px;
}

@media screen and (max-width: 767px){
	.event-main{
		margin-top: 10px;
	}
	.event-info-container{
		margin: 0 0 20px 0;
		width: 100%;
		padding: 0;
		height: 0;
		overflow: hidden;
		background: white;
		position: static;
	}
	.event-info{
		background: #421763;
		width: 90%;
		margin:0 auto;
		padding: 20px 0;
	}

	.event-info-container:before,
	.event-info-container:after{
		content:'';
		display: none;
	}
}

.event-info{
	list-style: none;
	color:white;
	font-size: 1.3em;
}

.show-event-info{
	display: none;
}

.event-list{
	margin-top: 10px;
}
.event-list:nth-last-child(1){
	border-bottom: none;
}

.event-list-link:hover{
	color:#404040;
}

p.event-list-explenation{
	white-space: nowrap; 
	overflow:hidden;
	display: block;
	margin-left: 40px;
	font-size: 1em;
	color: #D4D4D4;
    text-overflow: ellipsis; 
    width: 195px;
}


.event-tag{
	color: #220C33;
}
.event-tag:hover{
	color: #421763;
}
.event-span{
	margin-right: 10px;
	color: #220C33;
}

footer{
	position: relative;
	min-height: 100px;
	background:#421763;
	margin:150px 0 0 0; 
	padding: 0;
	color:#fff;
	font-family: TTChocolates;
	font-size: 1.1em;
}

footer:before{
	content:'';
	position: absolute;
	width: 100%;
	height: 72px;
	left: 0;top:-72px;
	background: url(../img/footerImage.png);
}

.footer-ul{
	display: inline-block;
}

@media screen and (max-width:2000px){
	.event-info{
		padding-left: 0;
	}
	p.event-list-explenation{
	    width: 190px;
	}
}
@media screen and (max-width: 1200px) {
	.events{
		width: 100%;
	}
}


@media screen and (max-width: 767px) {
	.show-event-info{
		width: 90%;
		height: 40px;
		display: block;
		background:#220C33;
		margin: 70px auto 0 auto;
		float: left;
	}
	.event-list{
		border-bottom:1px solid #220C33;
	}

	p.event-list-explenation{
	    width: 90%;
	}
	.event-span{
		margin-left: 10px;
	}

}
@media screen and (max-width: 646px) {

	.events-search{
		width: 90%;
	}
	.events-body{
		margin-bottom: 0;
	}

}

@media screen and (max-width: 600px) {
	.city-link{
		width: 100%;
		margin-bottom: 10px;
	}
	.index-header h1{
		width: 345px;
		height: 60px;
		background-size: 100%;
	}
}

.module-btn{
	background: #f1665d;
	border: 1px solid #220C33;
	float: right;
	color:black;
	padding: 10px;
	display: inline.block;
	margin-top: 25px;
}

.mobile-event-info-display{
	height: auto;
}

.error-city{
	width: 100%;
	height: calc(100vh);
	margin-bottom: -150px;
	background: url(../img/error-page.jpg) no-repeat center center;
	 -webkit-background-size: cover;
		-moz-background-size: cover;
		  -o-background-size: cover;
			 background-size: cover;
	overflow: auto;
}
.error-exp{
	min-width: 400px;
	width: 40%;
	background: rgba(255,255,255,.9);
	margin: 10% auto 0 auto;
	padding: 10px;
	height: 230px;
}

@media screen and (max-width: 660px){
	.error-city{
		background: url(../img/error-page-mobile.jpg) no-repeat center center;
	}
	.error-city .error-exp{
		min-width: auto;
		width: 90%;
		margin: 10% auto 0 auto;
	}

	.city-container{
		margin: 0;
	}
}
@media screen and (max-width: 600px){
	.error-city .error-exp{
		height: 400px;
	}
	.error-city .city-link{
		clear: both;
		width: 100%;
		margin:20px auto 0 auto;
	}
}
