@font-face{
   font-family: TTChocolates;
   src: url(../fonts/ttchocolates-regular-webfont.ttf),
   url(../fonts/ttchocolates-regular-webfont.eot); /* IE */
}
@font-face{
   font-family: Helena;
   src: url(../fonts/helena-webfont.ttf),
   url(../fonts/helena-webfont.eot); /* IE */
}



.main-menu{
	height: 55px;
	background: #f2f2f2;
	display: flex;
}

.left-menu,
.right-menu,
.wgo-heading{
	color:#0e99a2;
	display: inline-block;
	line-height: 60px;
}


.wgo-heading{
	margin: 0 auto;
	font-family: Helena;
}

.right-menu{
	color:#0e99a2;
	margin-right: 20px;
	line-height: 60px;
}

.menu-button{
	color:#0e99a2;
	font-size: 2em;
}
.back-button{
	margin-left: 20px;
	font-size: 2.5em;
}

.event-main-header{
	height: 70vh;
	margin-top: -20px;
	text-align: center;
 	margin-bottom: 30px;	
	background: no-repeat center center; 
  		 -webkit-background-size: cover;
  			-moz-background-size: cover;
  			  -o-background-size: cover;
  				 background-size: cover;
}

.event-main-heading{
  	line-height: 50vh;
  	color:white;
  	font-family: Helena;
  	font-size: 5em;
}

.event-search{
	width: 500px;
	height: 20px;
	font-size: 1.2em;
	padding: 20px;
	color:#9e9e9e;
}

.sortering{
	display: block;
	margin:0 auto;
	line-height: 30px;
	font-family: TTChocolates;
	width: 300px;
}
.sortering span{
	font-size: 1.4em; 
	margin-right:10px; 
}
.filter-select{
	width: 200px;
	height: 30px;
	font-size: 1.3em;
  	margin-bottom: 30px;	
}

.events{
	display: flex;
	margin: 0 auto;
	width: 1120px
}

.event-card{
	background: white;
	-webkit-flex: initial;
          flex: initial;
  	width: 300px;
  	min-width: 300px;
	border: thin #9e9e9e solid;
	padding: 10px;
	display: inline-block;
	margin: 0 0 40px 20px; /*Gör om med flex*/
	position: relative;
	font-family: TTChocolates;
}

.event-card p{
	margin-bottom: 25px;
	padding: 0 10px;
	font-size: 1.2em;
}

.event-card img{
	width: 100%;
	margin-bottom: 15px;
}

.event-header:first-letter{ 
    text-transform: uppercase;
}

.event-card-button{
	display: inline-block;
	float: right;
	width: 70px;
	height: 70px;
	border:none;
	position: absolute;
	right:5px;
	bottom:5px;
	border-radius: 50%;
	background: #0e99a2;
	color:white;
}

.event-card-info{
	display: inline;
	margin: 0 0 30px 15px;
	color:#9e9e9e;
}

@media screen and (max-width: 1200px) {
	.events{
		margin: 0 auto;
		width: 750px
	}
}

@media screen and (max-width: 750px) {
	.events{
		margin: 0 auto;
		width: 350px
	}
	.event-card{
		margin: 0 0 40px 0;
	}
	.event-card p{
		margin-bottom: 15px;
	}
	.event-card-button{
		width: 90%;
		display: block;
		position: static;
		margin: 10px auto 5px auto;
 		float: none;
 		border-radius: 6px;
	}
}


