@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

$primary-color: #65caf8;
$primary-bg: #e4e0e4;
$discreet-color:#6e6e6e;

@font-face{
  font-family: ttchocolatesBold;
  src: url(../fonts/chocolates/Bold/ttchocolates-bold-webfont.eot),
  url(../fonts/chocolates/Bold/ttchocolates-bold-webfont.ttf),
  url(../fonts/chocolates/Bold/ttchocolates-bold-webfont.woff),
  url(../fonts/chocolates/Bold/ttchocolates-bold-webfont.woff2); 
}

@font-face{
  font-family: ttchocolatesRegular;
  src: url(../fonts/chocolates/Regular/ttchocolates-regular-webfont.eot),
  url(../fonts/chocolates/Regular/ttchocolates-regular-webfont.ttf),
  url(../fonts/chocolates/Regular/ttchocolates-regular-webfont.woff),
  url(../fonts/chocolates/Regular/ttchocolates-regular-webfont.woff2); 
}

body{
	background: $primary-bg;
}

a{
	cursor: pointer;
}

h1{
	font-family: ttchocolatesBold;
	margin: 0 0 15px 0;
}

.event-body{
	font-family: ttchocolatesRegular;
	font-size: 1.4em;
	margin: 10px;
}

.eventHeader{
	width: 100%;
	height:400px;
	margin-bottom: 40px;
}

ul.quickInfo{
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

ul.quickInfo .event-desc-list{
	margin: 5px 0;
	padding: 5px;
	min-width: 109px;
	list-style: none;
	color:$discreet-color;
	font-family: ttchocolatesRegular;
	font-style: 1.4em;
	border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 0 white;
}

ul.quickInfo .event-desc-list a,
ul.quickInfo .event-desc-list p{
	display: inline;
	font-size: 1.15em;
}

ul.quickInfo .event-desc-list span.event-desc{
	margin-right:10px;
	color:$discreet-color;
}

.discreet{
	font-family: ttchocolatesRegular;
	color:$discreet-color;
	font-size: 1.4em;
}

ul.filter li a{
	font-family: ttchocolatesRegular;
}


/*********REKLAM SMALL**************/
.container-fluid{
	margin: 0;
	padding: 0;
}

.liknande{
	background: white;
	width: 100%;
	margin: 30px 0;
	padding: 30px 0;
}

.annons{
	font-family: ttchocolatesRegular;
	color:$discreet-color;
	margin-top: 20px;
}
.reklamSmall{
	display: block;
	margin: 0 auto;
	width: 90%;
}

.reklamLarge{
	width: 100%;
}

.reminds{
	margin: 10px 0;
	float: left;
	//padding: 0 5px 0 5px;
}
.padding{
	margin: 5px;
	padding: 5px;
	background: white;

}
.remindsHeader{
	font-family: ttchocolatesBold;
	padding:5px 0 5px 10px;
	font-size: 1.6em;
	margin: 0;
	color: #2f2f2f;
}
.remindsBody{
	font-family: ttchocolatesRegular;
	font-size: 1.2em;
	padding: 10px;
}

.btn{
	background: $primary-color;
	display: inline-block;
}

.remind-info{
	margin-top: 10px;
	margin-bottom: 0;
	//background: #2f2f2f;
	padding: 5px 0;
	color:  #2f2f2f;
	text-align: center;
}

.remind-info span{
	margin-right: 5px;
}


@media only screen and (max-width:767px){
/**********REKLAM*********/
	.reklamSmall{
		display: block;
		margin: 0 auto;
		width: 240px;
	}
	
	.event-title{
		font-family: ttchocolatesBold;
		margin-top:20px;
	}
	
	ul.quickInfo .event-desc-list{
		border-left: 3px solid lightgray;
    	box-shadow: -1px 0 0 white;
		display: inline-block;
	}
}