<div class="main-menu">

  <!-- <div class="left-menu">
    <a href="#/" class="back-button menu-button">
    <span class="glyphicon glyphicon-arrow-left"></span></a> 
  </div> -->

 <img src="img/wgo-heading-text.png" class="wgo-heading"/>
  <!-- <div class="right-menu">
    <a href="#" class="open-menu-button menu-button">
    <span class="glyphicon glyphicon-align-justify"></span></a>
  </div> -->
</div>


<div class="events-main-header">

  <h2 class="events-main-heading">{{city}}</h2>
  <input type="text" ng-model="query" class="events-search" placeholder="Sök efter event">

</div>

<div class="container">
  <div class="sortering">
    <span class="sorterings-span">Sortera:</span>
      <select class="filter-select" ng-model="orderProp">
        <option value="title">Bokstavsordning</option>
        <option value="date.date">Snarast</option>
        <option value="age">Yngst</option>
        <option value="-age">Äldst</option>
        <option value="cost">Biligast</option>
        <option value="-cost">Dyrast</option>
      </select>
  </div>
  <div class="events">
    <div class="events-card" ng-repeat="event in events | filter:query | orderBy:orderProp">
    <img ng-src="{{event.img}}.jpg"/>
    <h2 class="events-header">{{event.title}}</h2>
    <p class="events-body">{{event.body | limitTo : 120 }}{{event.body > 120 ? '' : '...'}}</p>

    <ul class="list-inline events-card-info">
        <li>
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          {{ event.date.date | dateToISO | date:'shortDate'}}
        </li>
        <li>
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          {{ event.cost | costFilter }}
        </li>
        <li>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ event.age | ageFilter }}
        </li>
      </ul>
      <a href="#/{{ city }}/{{ event.id }}"><button class="events-card-button">Läs mer</button></a>
    </div>
  </div>
</div>

<style>
  .events-main-header{
    background-image: url('img/gothenburg.jpg');
    width: 100%;
  }

  @media screen and (max-width: 980px){
    .events-main-header{
      background-image: url('img/gothenburg.jpg');
    }
  }
</style>