<div class="main-menu">
  <a href="#/" class="back-button">  
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  </a>
  <!-- <div class="left-menu">
    <a href="#/" class="back-button menu-button">
    <span class="glyphicon glyphicon-arrow-left"></span></a> 
  </div> -->

 <a class="home-link" href="#/"><img src="img/wgo-heading-text.png" class="wgo-heading"/></a>
  <!-- <div class="right-menu">
    <a href="#" class="open-menu-button menu-button">
    <span class="glyphicon glyphicon-align-justify"></span></a>
  </div> -->
</div>


<div ng-if="status == true" class="events-main-header">

  <h2 class="events-main-heading">{{city}}</h2>
  <input type="text" ng-model="query" class="events-search" placeholder="Sök efter event">

</div>

<div ng-if="status == true" class="container">
  <div class="sortering">
    <span class="sorterings-span">Sortera:</span>
      <select class="filter-select" ng-model="orderProp">
        <option value="title">Bokstavsordning</option>
        <option value="date.date">Snarast</option>
        <option value="age">Yngst</option>
        <option value="-age">Äldst</option>
        <option value="price">Biligast</option>
        <option value="-price">Dyrast</option>
      </select>
  </div>
  <div class="events">
    <div class="events-card" ng-repeat="event in events | filter:query | orderBy:orderProp">
      <img ng-src="{{event.img.url}}Thumb.jpg"/>
      <h2 class="events-header">{{event.title |  cut:true:20:' ...'}}</h2>
      <p class="events-body">{{event.body |  cut:true:100:' ...'}}</p>

      <ul class="list-inline events-card-info">
          <li>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            {{ event.date.date | dateToISO | date:'shortDate'}}
          </li>
          <li>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            {{ event.price | costFilter }}
          </li>
          <li>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{ event.age | ageFilter }}
          </li>
        </ul>
        <a href="#/{{ city }}/{{ event.id }}"><button class="events-card-button">Läs mer</button></a>
    </div>
  </div>
</div>

<div ng-if="status != true" class="error-city">
  <div class="error-exp">
  <h1>Ahh crap</h1>
    <p>Vi lyckades tyvärr inte finna det du sökte efter, men vi letar vidare under tiden är du välkommen att gå vidare till din önskade stad</p>
    <div class="city-container" ng-repeat="city in cities">
      <a class="city-link" href="/#/{{city.name}}">{{city.name}}</a>
    </div>
  </div>

</div>

<style>
  .events-main-header{
    background-image: url('{{cityImage.url}}.jpg');
    width: 100%;
  }

  @media screen and (max-width: 980px){
    .events-main-header{
      background-image: url('{{cityImage.url}}Medium.jpg');
    }
  }
</style>