<div class="main-menu">
  <a href="#/" class="back-button">  
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  </a>
  <!-- <div class="left-menu">
    <a href="#/" class="back-button menu-button">
    <span class="glyphicon glyphicon-arrow-left"></span></a> 
  </div> -->

 <h1 class="home-link" href="#/">Whats Goint on</h1>
  <!-- <div class="right-menu">
    <a href="#" class="open-menu-button menu-button">
    <span class="glyphicon glyphicon-align-justify"></span></a>
  </div> -->
</div>

<div ng-if="status == true" class="wrapper">
  <div class="events-main-header">

    <h2 class="events-main-heading">{{city}}</h2>
    <input type="text" ng-model="query" class="events-search" placeholder="Sök efter event">

  </div>

  <div class="container">
    <div class="sortering">
      <span class="sorterings-span">Sortera:</span>
        <select class="filter-select" ng-model="orderProp">
          <option value="title">Bokstavsordning</option>
          <option value="date.date">Snarast</option>
          <option value="age">Yngst</option>
          <option value="-age">Äldst</option>
          <option value="price">Billigast</option>
          <option value="-price">Dyrast</option>
        </select>  
    </div>
    <div class="events">
      <div class="events-card" ng-repeat="event in events | filter:query | orderBy:orderProp | startFrom:currentPage*pageSize | limitTo:pageSize">
        <img ng-src="{{event.img.url}}Thumb.jpg"/>
        <ul class="tag-ul">
          <li class="tag-li" ng-hide="false" ng-repeat="tag in event.tags">
              #{{tag.name}}
          </li>
        </ul>
        <h2 class="events-header" ng-bind-html="event.title"></h2>
        <!-- <p class="events-body">{{event.body |  cut:true:100:' ...'}}</p> -->
        <p class="event-body" ng-bind-html="event.body | limitTo : 200"></p>
        <ul class="list-inline events-card-info">
            <li>
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
              {{ event.date[0].date.date | dateToISO | date:'dd-MM-yyyy'}}
               <span ng-if="event.date.length >= 2" class="extra-dates">+ {{event.date.length - 1}} tillfällen</span>
            </li>
            <li>
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              {{ event.price | costFilter }}
            </li>
            <li>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              {{ event.age | ageFilter }}
            </li>
          </ul>
          <a href="#/{{ city }}/{{ event.id }}"><button class="events-card-button">Läs mer</button></a>
      </div>
    </div>
    <div class="pag-button-container">
      <button class="page-button prev" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
      </button>
      <p class="pag-numb">{{currentPage+1}}/{{numberOfPages()}}</p>
      <button class="page-button next" ng-disabled="currentPage >= events.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>
  </div>
</div>

<div ng-if="status != true" class="error-city">
  <div class="error-exp">
  <h1>Ahh crap</h1>
    <p>Vi lyckades tyvärr inte finna det du sökte efter, men vi letar vidare under tiden är du välkommen att gå vidare till din önskade stad</p>
    <div ng-repeat="city in cities">
        <a class="city-link" href="/#/{{city.name}}">{{city.name}}</a>
    </div>
  </div>

</div>