<div class="main-menu">

  <!-- <div class="left-menu">
    <a href="#/" class="back-button menu-button">
    <span class="glyphicon glyphicon-arrow-left"></span></a> 
  </div> -->

 <img src="img/wgo-heading-text.png" class="wgo-heading"/>
  <!-- <div class="right-menu">
    <a href="#" class="open-menu-button menu-button">
    <span class="glyphicon glyphicon-align-justify"></span></a>
  </div> -->
</div>
<div class="event-header">
</div>

<div class="container">
	<div class="row event-row"><!--Row-->
		<div class="event-info-container col-xs-12 col-sm-4 col-md-3">
			<ul class="event-info">
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-calendar" aria-hidden="true"></span>
					{{ event.date.date | dateToISO | date:'yyyy-MM-dd'}}
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-usd" aria-hidden="true"></span>
					{{ event.cost | costFilter }}
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-user" aria-hidden="true"></span>
					{{ event.age | ageFilter}}
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					<a href="{{ event.address }}">Event adress</a>
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-home" aria-hidden="true"></span>
					<a href="{{event.event_page}}">Event webbplats</a>
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-time" aria-hidden="true"></span>
					{{ event.start_time }} - {{ event.end_time }}
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-pencil" aria-hidden="true"></span>
					<a href="#/{{event.id}}/edit">Edit</a>
				</li>
			</ul>
		</div>
		<div class="event-main col-xs-12 col-sm-8 col-md-7">
			<h1>{{ event.title }}</h1>
			<p class="event-body">{{ event.body }}</p>
			<ul ng-hide="!tags.length" class="list-inline event-tags">
				<li>
					<span class="event-span glyphicon glyphicon-tags" aria-hidden="true"></span>
				</li>
				<li ng-repeat="tag in tags">
				<a class="event-tag" href="#/{{routeParams.city}}/tags/{{tag.name}}">{{tag.name}}</a></li>
			</ul>
		</div>
	</div>
</div>

<style type="text/css">
	.event-header{
		background-image: url('{{ event.img.url }}.jpg');
	}
	/*@media screen and (max-width: 640px) {
	.tag-header{
	background: url(../img/tagImg-small.jpg);
	}
}*/
@media screen and (max-width: 980px) {
	.event-header{
		background-image: url('{{event.img.url}}Medium.jpg');
	}
}
</style>