<div class="main-menu">

  <a href="#/{{routeParams.city}}" class="back-button">  
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  </a>  <!-- <div class="left-menu">
    <a href="#/" class="back-button menu-button">
    <span class="glyphicon glyphicon-arrow-left"></span></a> 
  </div> -->

 <a class="home-link" href="#/"><img src="img/wgo-heading-text.png" class="wgo-heading"/></a>
  <!-- <div class="right-menu">
    <a href="#" class="open-menu-button menu-button">
    <span class="glyphicon glyphicon-align-justify"></span></a>
  </div> -->
</div>
<div class="event-header">
</div>

<div class="container">
	<div class="row event-row"><!--Row-->
		<div class="col-xs-12 col-sm-12 col-md-12">
				<h1 class="event-heading">{{ event.title }}</h1>
		</div>
		<div class="show-event-info col-xs-12 col-sm-12 col-md-12"><p class="show-event-text">Visa event info</p></div>
		<div class="event-info-container col-xs-12 col-sm-4 col-md-3">
			<ul class="event-info">
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-calendar" aria-hidden="true"></span>
					{{ event.date.date | dateToISO | date:'yyyy-MM-dd'}}
					<p class="event-list-explenation">Eventets datum</p>
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-usd" aria-hidden="true"></span>
					{{ event.price | costFilter }}
					<p class="event-list-explenation">Normal pris</p>
					<p ng-hide="event.optional_price.length === 0" class="if-optional-price-exists">Fler prisalternativ</p>
					<ul ng-hide="event.optional_price.length === 0" class="optional-price">
						<li ng-repeat="op in event.optional_price">
							{{op.cost}} kr
							<p class="event-list-explenation">{{op.description}}</p>
						</li>
					</ul>
				</li>
				<li ng-repeat="optional_information in optional_informations">
					{{optional_information.description}}{{optional_information.pivot.cost}}
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-user" aria-hidden="true"></span>
					{{ event.age | ageFilter}}
					<p class="event-list-explenation">Åldersgräns</p>
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					<a class="event-list-link" target="_blank" href=" https://www.google.se/maps/place/{{ event.address }}/">Event adress</a>
					<p class="event-list-explenation">{{event.address}}</p>
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-home" aria-hidden="true"></span>
					<a class="event-list-link" target="_blank" href="{{event.event_page}}">Event webbplats</a>
					<p class="event-list-explenation">{{event.event_page}}</p>
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-time" aria-hidden="true"></span>
					{{ event.start_time }} - {{ event.end_time }}
					<p class="event-list-explenation">Start/slut på eventet</p>
				</li>
				<li class="event-list">
					<span class="event-span glyphicon glyphicon-pencil" aria-hidden="true"></span>
					<a href="#/{{event.id}}/edit">Edit</a>
				</li>
			</ul>
		</div>
		<div class="event-main col-xs-12 col-sm-8 col-md-7">
			<p class="event-body">{{ event.body }}</p>
			<ul ng-hide="!tags.length" class="list-inline event-tags">
				<li>
					<span class="event-span glyphicon glyphicon-tags" aria-hidden="true"></span>
				</li>
				<li ng-repeat="tag in tags">
				<a class="event-tag" href="#/{{ routeParams.city }}/tags/{{ tag.name }}">{{ tag.name }}</a></li>
			</ul>
		</div>
		<div class="flex col-xs-12 col-sm-8 col-md-7">
			<button
				socialshare
				socialshare-provider="facebook"
				socialshare-text="{{ event.title }} i {{ routeParams.city }}"
				socialshare-url="http://whatsgoingon.se/#/{{ routeParams.city }}/{{ routeParams.id }}"
				class="facebook-share share">
			</button>
			<button
				socialshare
				socialshare-provider="twitter"
				socialshare-text="{{ event.title }} i {{ routeParams.city }}"
				socialshare-url="http://whatsgoingon.se/#/{{ routeParams.city }}/{{ routeParams.id }}"
				class="twitter-share share">
			</button>
		</div>
	</div>
</div>
<style type="text/css">
	.event-header{
		background-image: url('{{ event.img.url }}.jpg');
	  	-webkit-background-size: cover;
	  	   -moz-background-size: cover;
	  		 -o-background-size: cover;
	  			background-size: cover;
		background-position: bottom center;
	}
	/*@media screen and (max-width: 640px) {
	.tag-header{
	background: url(../img/tagImg-small.jpg);
	}
}*/
@media screen and (max-width: 980px) {
	.event-header{
		background-image: url('{{event.img.url}}Medium.jpg');
		height: 300px;
		background-attachment: local;
	}
	.event-header:after{
		bottom:-20px;
	}
}
</style>
