<div class="index-header">
	<h1 class="h1-header">What's going on</h1>
</div>
<div class="container">
	<div class="city-container" ng-repeat="city in cities">
		<a class="city-link" href="/#/{{city.name}}">{{city.name}}</a>
	</div>
</div>
<div class="container">
	<h2 class="headings">Välkommen till What's going on</h2>
	<p>
		Om du letar efter någonting att göra idag, under veckan eller i framtiden, så har du kommit till rätt plats! Whats going on är fullpackad med olika aktiviteter och events för stora som små. Allt mellan dansföreställningar, spelningar och stand up till pub quiz. Det ända du behöver göra är att välja en stad och sedan söka efter vad du är intresserad av, filtrera upp det så det passar dig eller kanske hitta någonting nytt som du inte hade tänkt dig tidigare, det finns alltid någonting att göra!
	</p>
</div>

