<div class="main-menu">
  <div class="back-button" ng-click="doTheBack()">  
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  </div>
  <!-- <div class="left-menu">
    <a href="#/" class="back-button menu-button">
    <span class="glyphicon glyphicon-arrow-left"></span></a> 
  </div> -->

 <a class="home-link" href="#/"><img src="img/wgo-heading-text.png" class="wgo-heading"/></a>
  <!-- <div class="right-menu">
    <a href="#" class="open-menu-button menu-button">
    <span class="glyphicon glyphicon-align-justify"></span></a>
  </div> -->
</div>
<form class="form-horizontal" ng-submit="login()">

<div class="form-group">
    <label class="col-md-4 control-label">E-Mail Address</label>
    <div class="col-md-6">
        <input type="email" class="form-control" name="email" ng-model="loginData.email">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label">Password</label>
    <div class="col-md-6">
        <input type="password" class="form-control" name="password" ng-model="loginData.password">
    </div>
</div>

<div class="form-group">
    <div class="col-md-6 col-md-offset-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember"> Remember Me
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-6 col-md-offset-4">
        <button type="submit" class="btn btn-primary">Login</button>

        <a class="btn btn-link" href="{{ url('/password/email') }}">Forgot Your Password?</a>
    </div>
</div>
</form>